<div class="row">
    <div class="col">
        <h1>*nfIf</h1>
        <hr>
        
        <div *ngIf="show" class="card text-white bg-success mb-3" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{raze.author}}</h5>
              <p class="card-text">{{raze.message}}</p>
            </div>
        </div>

        <button (click)="show=!show" class="btn btn-outline-primary btn-block">
            Show/Hide
        </button>
    </div>  

    <div class="col">
        <h1>*ngFor</h1>
        <hr>

        <ul class="list-group">
            <li *ngFor="let character of characters; let i = index" class="list-group-item">{{i+1}} - {{character}}</li>
          </ul>

    </div>
</div>




<!--
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
-->